{% extends 'resistanceapp/base.html' %}

{% block title %}Details | {{ soldier.name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4">{{ soldier.name }}</h1>
      <p>{{ soldier.description }}</p>

      <hr/>

      <h2>Statistics</h2>

      <div class="card-deck">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">Age</h3>
            <p class="display-2">{{ soldier.age }}</p>
          </div>
        </div>
        <div class="card text-white bg-danger mr-3 mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">Strength</h3>
            <p class="display-2">{{ soldier.strength }}</p>
          </div>
        </div>
        <div class="card text-white bg-primary mr-3 mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">Efficiency</h3>
            <p class="display-2">{{ soldier.get_efficiency|floatformat:3 }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
